// Colors
$purple: #6f31f6;
$pending: #fd8761;
$done: #8fd158;
$finished: #aeb0b2;
$background: #f5f6f9;
$red: #d81b4b;
$grey: #9bb1c8;

// Fonts
$base-font-size: 16;

// Breakpoints
$desktop: 992px;
$tablet: 991px;
$mobile: 767px;
