button {
  margin-top: 2%;
  height: 40px;
  border-radius: 8px;
  color: #fff;
  background-color: #6f31f6;
  border: none;
  cursor: pointer;
}

button.disabled {
  background-color: grey;
}

.button {
  padding: 12px;
  border-radius: 8px;
  color: #fff;
  background-color: #6f31f6;
  border: none;
}
