button {
  margin-top: 2%;
  height: 40px;
  border-radius: 8px;
  color: #fff;
  background-color: $purple;
  border: none;
  cursor: pointer;
  width: 30%;
}

button.disabled {
  background-color: grey;
}

.button {
  padding: 12px;
  border-radius: 8px;
  color: #fff;
  background-color: $purple;
  border: none;
  text-align: center;
}

.negative-button {
  background-color: $red;
}
