form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

label {
  color: #000;
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
  font-weight: 400;
  margin-bottom: 10px;
  width: 100%;
}

input {
  margin-top: 2%;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #d4d4d4;
  padding: 0 5px 0 5px;
}

select {
  height: 40px;
  border-radius: 8px;
  border: 1px solid #d4d4d4;
  padding: 0 5px 0 5px;
}

textarea {
  border-radius: 8px;
  border: 1px solid #d4d4d4;
  padding: 10px;
  font-family: inherit;
  font-size: inherit;
}

::placeholder {
  font-family: "Montserrat", "Helvetica";
  padding: 0 5px 0 5px;
  font-weight: 400;
}

.input-radio {
  display: flex;
  margin-bottom: 10px;

  label {
    width: inherit;
    margin: 0;
    padding-left: 10px;
  }

  input {
    height: inherit;
    margin: 0;
  }

  textarea {
    box-sizing: border-box;
  }
}

.stripe-placeholder {
  height: 400px;
  width: 400px;
  background: lightgrey;
}
