.label-value {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  span:first-of-type {
    margin-bottom: 5px;
  }
}

.label-value-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .label-value {
    width: 33%;
  }
}
