.sidebar {
  position: fixed;
  width: 20vw;
  height: 100vh;
  max-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 80px 10px 30px 60px;
  box-shadow: 2px 0px 5px -2px rgba(0, 0, 0, 0.15);
  z-index: 2;
  background: #fff;

  &__brand {
    font-weight: bold;
    margin-top: 60px;
    width: 170px;
  }

  &__lists {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  ul {
    display: flex;
    flex-direction: column;

    li {
      font-weight: bold;
      padding: 15px 0;
      a {
        color: $grey;
        opacity: 0.4;
      }
    }
  }

  .powered {
    font-size: 0.75rem;
    color: $grey;
    opacity: 0.4;
    display: block;
    margin-top: 110px;
    strong {
      font-weight: bold;
    }
  }
}
