.add-project-page {
  background-color: $background;

  .steps-progression {
    .steps-progression__step {
      margin-bottom: 1rem;
      span:last-of-type {
        display: none;
        color: $purple;
      }
    }

    .steps-progression__step.active {
      span:last-of-type {
        display: inline;
      }
    }
  }

  .detail-container {
    display: flex;
  }
  .detail-left-side {
    display: flex;
    flex-direction: column;
    max-width: 45%;
    border-right: 1px solid #ccc;
    padding-right: 2%;
  }
  .detail-right-side {
    display: flex;
    flex-direction: column;
    min-width: 45%;
    margin-left: 2%;
    padding-left: 2%;
  }

  .dimentions-inputs {
    display: flex;
    flex-wrap: wrap;
    label {
      margin-left: 10px;
      margin-right: 10px;
      max-width: 25%;
    }
  }
  .filepond--wrapper {
    width: 100%;
  }

  form {
    label {
      max-width: 100%;
    }

    select {
      max-width: 100%;
    }

    textarea {
      max-width: 100%;
    }
  }
}

.steps-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
