.projects-list-page {
  background-color: $background;
  .listing-card {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem 50px -1rem;
  }
  h4 {
    border-bottom: 2px solid #2060e3;
    padding-bottom: 8px;
    font-size: 1.3em;
  }
}
