.signin-page {
  .main-layout {
    display: flex;
    flex-direction: row;
  }

  .right-side {
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: center;
    align-items: flex-start;
    background-color: #fff;
    padding-left: 5%;
    padding-right: 5%;
  }
  .logo {
    width: 70%;
    margin-bottom: 5%;
  }
  h1 {
    font-size: 1.2em;
    color: #000;
    line-height: 1.5em;
    margin-bottom: 5%;
  }
  h4 {
    font-size: 0.8em;
    color: #000;
    line-height: 1.2em;
    font-weight: 400;
    margin-bottom: 10%;
  }
  hr {
    width: 20px;
    border: 2px solid $purple;
    align-self: flex-start;
    margin-bottom: 10%;
    display: flex;
    margin: 0 0 10% 0;
  }
  span {
    color: $purple;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 8%;
  }

  .password-reset {
    color: $purple;
    font-size: 12px;
    align-self: flex-end;
    margin-bottom: 2%;
    text-decoration: underline;
  }
  .label-checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    label {
      margin: 0 0 0 10px;
    }
  }

  .signature {
    color: #000;
    font-size: 0.6em;
    margin-top: 10%;
    align-self: flex-end;
  }

  .background-image-container {
    width: 70%;
    height: 100vh;
  }
  .background-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
